@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 44px 0 0 0;
}

.mySwiper .swiper-button-next::after,
.mySwiper .swiper-button-prev::after {
  color: rgb(29 78 216 / var(--tw-bg-opacity, 1));
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: rgb(29 78 216 / var(--tw-bg-opacity, 1));
  opacity: 1;
}

/* النقاط غير النشطة (الباقي) */
.mySwiper .swiper-pagination-bullet {
  background-color: gray;
  opacity: 0.7;
}
