@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 44px 0 40px 0; /* Adjust based on navbar and footer height */
}
/* ============================================= */
/* 1. للتحكم بلون وحجم أسهم التنقل (يمين ويسار) */
/* ============================================= */

/* نحن نستهدف الكلاس .mySwiper الذي وضعته أنت */
.mySwiper .swiper-button-next::after,
.mySwiper .swiper-button-prev::after {
  /* غيّر هذا اللون الأبيض إلى أي لون تريده 
    (مثلاً: #FF0000 للون الأحمر) 
  */
  color: rgb(29 78 216 / var(--tw-bg-opacity, 1));

  /* يمكنك أيضاً التحكم بالحجم إذا كانت الأسهم كبيرة جداً */
  font-size: 2rem; /* (2rem = 32px) - غيّر هذا الحجم حسب رغبتك */
}


/* ============================================= */
/* 2. للتحكم بلون نقاط الترقيم (الدوائر في الأسفل) */
/* ============================================= */

/* النقطة النشطة (الحالية) */
.mySwiper .swiper-pagination-bullet-active {
  /* غيّر هذا اللون إلى اللون الذي تريده للنقطة النشطة 
    (مثلاً: white أو #007aff)
  */
  background-color: rgb(29 78 216 / var(--tw-bg-opacity, 1));
  opacity: 1; /* تأكد من أنها واضحة تماماً */
}

/* النقاط غير النشطة (الباقي) */
.mySwiper .swiper-pagination-bullet {
  /* غيّر هذا اللون إلى لون النقاط غير النشطة 
    (مثلاً: gray أو #AAAAAA)
  */
  background-color: gray;
  opacity: 0.7; /* جعلها نصف شفافة يبدو جيداً عادةً */
}